body {
  background-color: rgba(9, 7, 7, 0.87);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

a:visited {
  color: #e0dddd;
  text-decoration: underline
}

a {
  color: #e0dddd;
  text-decoration: underline
}

h1 {
  text-decoration: underline;

}

li {
  list-style-type: symbols("[]");
}